/docs/
/lib/
/bin/
/ext/
/.shards/
*.dwarf
*.so
crystal_lib/
tensorflow/
tflite_build/

examples/*/bin
examples/*/lib
examples/*/metadata

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
libedgetpu/
spec/test_data/tfliteenv/
